.header
	input(type='hidden')
	img.backgroundPhoto
	span#menu_icon.icon(ng-click='$root.fnShowMenu()')
	.logo
		a(href='index')
			img(src='https://vegefruit66.000webhostapp.com/images/logo.png')
			h1 蔬果溜溜
	.lstMenu
		ul
			a(href='index')
				img(src='https://vegefruit66.000webhostapp.com/images/logo.png')
			a(href='{{menu.link}}', ng-repeat='menu in $root.objMenuList', ng-init='$root.StyleTargetMenu(menu)', ng-class='{selectedMenu:menu.isSelected}', ng-if='menu.isShown', title='{{menu.name}}', ng-style='menu.style')
				li {{menu.name}}
	.bgBlack(ng-click='$root.fnHideMenu()')
	// <a href="https://www.facebook.com/vegetable66/" target="_new" class="fa fa-facebook" id="fbLink"></a>